@if (loading()) {
  <div class="loading-message">
    <p>Loading service details...</p>
  </div>
}
@if (!loading() && service(); as service) {
  <div>
    <h1>{{ service.name }}</h1>
    <p>{{ service.description }}</p>

    <h2>Associated Domains</h2>
    @if (service.domains.length === 0) {
      <p>No associated domains.</p>
    }
    @if (service.domains.length > 0) {
      <table>
        <thead>
          <tr>
            <th>Domain Name</th>
            <th>Data Modification</th>
          </tr>
        </thead>
        <tbody>
          @for (domain of service.domains; track domain.name) {
            <tr>
              <td><a [routerLink]="['/domain-flow', domain.name]">{{ domain.name }}</a></td>
              <td>{{ domain.dataUpdated }} </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
}
